* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #333333;
  margin: 0 auto;
  padding: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.film-box {
  width: 325px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 30px;
}

.film-box img {
  width: 100%;
  height: auto;
}

.film-content {
  padding: 16px;
}

.film-content h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

.film-content p {
  font-size: 15px;
  line-height: 1.3;
}

.film-content .button {
  display: inline-block;
  padding: 8px 16px;
  background-color: white;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: #333333;
}
.logo-container {
  display: flex;
  align-items: center;
}

.logo-container .logo {
  width: 150px; /* Adjust width as necessary */
  height: auto;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0 auto;
  margin: 0 auto;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
}

footer ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

footer li {
  margin-left: 20px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer form {
  display: flex;
  align-items: center;
}

footer label {
  margin-right: 10px;
}

footer input {
  padding: 5px;
  border: none;
  border-radius: 5px;
}

footer button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer button:hover {
  background-color: #0056b3;
}
